.rs-slider {
	min-height: 590px;
	margin-top: 0px;

	@media (max-width: 991.98px) {
		min-height: 417px;
	}

	// .rs-slider__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .rs-slider__slider
	&__slider {
	}

	// .rs-slider__swiper
	&__swiper {
	}

	// .rs-slider__slide
	&__slide {
		min-height: 1px;
		height: auto;
		background: linear-gradient(180deg, #1e1e1d 0%, #3b3b3a 68.92%);

		&.swiper-slide-active {
			.rs-slider {
				&__body h1 {
					opacity: 1;
					transform: translateY(0px);
				}

				&__body h5 {
					opacity: 1;
					transform: translateY(0px);
				}

				&__body .rs-slider__buttons {
					opacity: 1;
					transform: translateY(0px);
				}
			}
		}
	}

	// .rs-slider__imgs
	&__imgs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	// .rs-slider__img
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .rs-slider__content
	&__content {
		padding: 183px 0px 122px;
		height: 100%;
		position: relative;
		z-index: 1;

		@media (max-width: 1439.98px) {
			padding: 150px 0px 100px;
		}

		@media (max-width: 1169.98px) {
			padding: 135px 0px 70px;
		}

		@media (max-width: 991.98px) {
			padding: 118px 0px 44px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
		}
	}

	// .rs-slider__container
	&__container {
	}

	// .rs-slider__body
	&__body {
		max-width: 900px;
		color: #fff;

		@media (max-width: 991.98px) {
			max-width: 100%;
		}

		h1 {
			opacity: 0;
			transform: translateY(50px);
			transition:
				transform 0.5s ease 0.3s,
				opacity 0.5s ease 0.3s;
		}

		h5 {
			margin-top: 10px;
			max-width: 700px;
			font-weight: 400;

			opacity: 0;
			transform: translateY(50px);
			transition:
				transform 0.5s ease 0.45s,
				opacity 0.5s ease 0.45s;

			@media (max-width: 991.98px) {
				margin-top: 3px;
			}
		}
	}

	// .rs-slider__buttons
	&__buttons {
		margin-top: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		opacity: 0;
		transform: translateY(50px);
		transition:
			transform 0.5s ease 0.6s,
			opacity 0.5s ease 0.6s;

		@media (max-width: 1439.98px) {
			margin-top: 40px;
		}

		@media (max-width: 1169.98px) {
			margin-top: 30px;
		}

		@media (max-width: 991.98px) {
			margin-top: 20px;
		}

		@media (max-width: 767.98px) {
			flex-direction: column;
		}

		.rs-btn {
			@media (max-width: 991.98px) {
				width: 100%;
			}

			&:not(:last-child) {
				margin-right: 12px;

				@media (max-width: 767.98px) {
					margin-right: 0px;
					margin-bottom: 10px;
				}
			}
		}
	}

	// .rs-slider__pagination
	&__pagination {
	}
}
